{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Meu Blog Django</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>
<body>

<header class="header">
    <h1>Meu Blog Django</h1>
</header>

<div class="container">
    <main class="content">
        {% block content %}{% endblock %}
    </main>

    <aside class="sidebar">
        {% include "core/sidebar.html" %}
    </aside>
</div>

<footer class="footer">
    <p>Projeto Django • William</p>
</footer>

</body>
</html>
